$black: #000;
$gray: #F7F5F9;
$lightgray: #D0C9D6;
$purple: #854FC8;
$blue: #6979F8;
$white: #fff;

$fast: .3s;

@import '../css/layout/fonts';
@import '../css/layout/base';
@import '../css/layout/form';